.header__link{
    color: #fff;
    text-decoration: none;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    margin-right: 30px;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}
.header__link:hover{
    opacity: 0.6;
}
@media screen and (min-width: 890px) {
    .header__link{
        margin: 0;
        font-size: 18px;
        line-height: 22px;
    }
}