.profile{
    width: 282px;
    margin: 0 auto;
    padding-top: 42px;
    padding-bottom: 36px;
    display: flex;
    flex-direction: column;
    min-height: 286px;
    position: relative;
}
@media screen and (min-width: 890px) {
    .profile{
        width: 880px;
        flex-direction: row;
        padding-top: 40px;
        padding-bottom: 50px;
        align-items: center;
        min-height: 120px;
    }
}