.popup__close{
    background-image: url(../../../images/close.svg);
    width: 20px;
    height: 20px;
    background-color: transparent;
    padding: 0;
    border: 0;
    position: absolute;
    top: -26px;
    right: 0;
    cursor: pointer;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}
.popup__close:hover{
    opacity: 0.6;
}
@media screen and (min-width: 890px) {
    .popup__close{
        width: 32px;
        height: 32px;
        top: -40px;
        right:-40px;
        background-repeat: no-repeat;
        background-size: cover;
    }
}